<h1>Your Current Spotify Playlists</h1>
<ul>
<% @spot.playlists.each do |playlist| %>
  <li>
    <%= playlist.name %>
    <ul>
    <% playlist.tracks.each do |track| %>
          <li><%= track.name %> - <%= track.artists[0].name %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>